

*{/* CSS HEX */
--pink-lavender: #cdb4dbff;
--orchid-pink: #ffc8ddff;
--nadeshiko-pink: #ffafccff;
--uranian-blue: #bde0feff;
--baby-blue-eyes: #a2d2ffff;

/* CSS HSL */
--pink-lavender: hsla(278, 35%, 78%, 1);
--orchid-pink: hsla(337, 100%, 89%, 1);
--nadeshiko-pink: hsla(338, 100%, 84%, 1);
--uranian-blue: hsla(208, 97%, 87%, 1);
--baby-blue-eyes: hsla(209, 100%, 82%, 1);
}
