/* simple color scheme*/


/*@import "color.css";*/ /*Import color scheme.*/

.dark {
    --lavender-web: hsla(233, 100%, 94%, 1);

    --code-bg: #22282a;
    --color-bg: #222;
    --color-acc: #aaa;
    --a: #1e8ad6;
    --a-h: #3ba0e6;
    --border: rgba(129, 129, 129, 0.671);
}