.light {
/* CSS HSL */

/*Figure out the variable name later.*/
--manatee: hsla(218, 17%, 62%, 1);
--languid-lavender: hsla(275, 18%, 79%, 1);
--pale-pink: hsla(351, 47%, 88%, 1);
--pale-purple-pantone: hsla(312, 91%, 96%, 1);
--lavender-web: hsla(233, 100%, 94%, 1);

    --code-bg: #f8f8f8;
    --color-bg: linear-gradient(45deg, var(--manatee) 0%, var(--languid-lavender) 55%,var(--pale-pink) 100%);
    --color-acc: #444;
    /*
--manatee: #8e9aafff;
--languid-lavender: #cbc0d3ff;
--pale-pink: #efd3d7ff;
--pale-purple-pantone: #feeafaff;
--lavender-web: #dee2ffff;
*/
}