/*@import "color.css";*/ /*Import color scheme.*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/*:root {
	color-scheme: light dark;
}
*/

@import "./color_dark.css";
@import "./color.css";


html,
body {
  height: 100%;
  width: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 60px;
  /* must be same height as the footer */
}

#main > * {
	margin-bottom: 10px; /* ensure everything is nicely spaced. */
}

#footer {
	border-top: 1px solid var(--color-acc);
	padding-top: 5px;
 	position: relative;
  	margin-top: -60px;
	  clear:both;
  	/* negative value of footer height */
  	height: 60px;
}


/* Opera Fix thanks to Maleika (Kohoutec) */

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/
}

*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}


* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    line-height: 1.4;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background: var(--color-bg);
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: var(--color-acc);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

p {
	font-size: 16px;
}

h1 {
	font-size: 30px;
	line-height: 34px;
}

h2 {
	font-size: 20px;
	line-height: 25px;
}

h3 {
	font-size: 16px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--color-acc);
	border-top: 1px solid var(--color-acc);
}

hr {
	height: 1px;
	background-color: var(--color-acc);
	border: none;
	width: 100%;
	margin: 0px;
}

a[href] {
	color: var(--a);
}

a[href]:hover {
	color: var(--a-h);
}

img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

aside,
[class *= "sidebar"],
[id *= "sidebar"] {
	max-width: 90%;
	margin: 0 auto;
	border: 1px solid lightgrey;
	padding: 5px 15px;
}

@media (min-width: 1921px) {
	body {
		font-size: 18px;
	}
}


/* i 100% stole this. https://fdossena.com/?p=html5cool/buttons/i.frag for cool looking buttons. */

a.button{
	display:inline-block;
	padding:0.7em 1.4em;
	margin:0 0.3em 0.3em 0;
	border-radius:0.15em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	text-transform:uppercase;
	font-weight:400;
	color:#FFFFFF;
	background-color:#3369ff;
	box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
	text-align:center;
	position:relative;
	}
	
a.button:active{
	top:0.1em;
}
	
@media all and (max-width:30em){

	 a.button{
		display:block;
		margin:0.4em auto;
	}
}

.fade-in {
	animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#header {
	border-bottom: 1px solid var(--color-acc);
	margin-top: 10px;
	line-height: 50px;
	height:50px;
	vertical-align: middle;
}



/*
temp
*/
.rbtn-big {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 14px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
  }
  
.active, #resume-btn:hover {
	background-color: #ccc;
}
#btn-expand:after {
	color: #777;
	font-weight: bold;
	margin-left: 5px;
}
  
  #resume {
	background-color: var(--code-bg);
	max-height: 200px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	width:100%;
	border-radius: 0 0 10px 10px;
  }

  #resume-box {
	background-color: var(--code-bg);
  }

  #resume {
	  border:none;
  }

  #code-panel pre {
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
  }

  #iframe-panel {
	  display:none;
  }

  #iframe-panel iframe {
	  border: none;
	  width: 100%;
	  margin: 0 0 0 0;
	  overflow-y:hidden;
	  height: 2200px;
  }

  .render {
	  display:initial !important;
  }

  #resume-box {
	  width:100%;
	  border:1px solid #eee;
	  border-radius:12px;
  }

  .rbtn {
	  width:50%;
  }

  #resume-controls {
	  width: 100%;
	  margin-left: auto;
	  margin-right: auto;
	  display:flex;
	  justify-content: space-evenly;
	  align-content: stretch;
	  border-bottom: 1px solid #eee;
  }