@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

#a {
    --font: 'IBM Plex Serif', serif;
    --text-black: #444;
    --bg-color: #eee;
    --header-color: #bbb;
    --nav-active: #000;
    --hoverjs-bg: #eee;
    --hoverjs-txt: #444;
}

#b {
    --text-black: green;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0; padding: 0;
    color: var(--text-black);
    background-color: var(--bg-color);
    font-family: var(--font);
}


#flexdiv {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1400px;
    width: 75vw;
}
/*Header CSS*/
#header {
    height: 64px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid black;
}

#header h1 {
    padding-left: 32px;
}
#header ul {
    list-style-type: none;
    margin:0 32px 0 0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

}
#header li {
    display:block;
    padding: 0 16px 0 16px;
    height: 64px;
    line-height: 64px;
    background-color: var(--bg-color);
    text-align: center;
}
.active {
    color: var(--nav-active) !important;
}
#header li a {
    font-size:x-large;
    display: block;
}

/* Link text decor*/ 
#header a, #header a:hover,#header a:active,#header a:visited,#header a:link {
    text-decoration: none;
    color: var(--text-black);
}

#header * {
    vertical-align: middle;
}


#content {
    min-width:100%;
    min-height: calc(100vh - 100px);
}


#footer {
    bottom: 0;
    height: 32px;
    width: 100%;
}

.burger {
    display: none;
    visibility: hidden;
}

.force-right {
    position: static;
    float: right;
    padding-right: 10px;
}

.centered {
    text-align: center;
}
@media only screen and (max-width: 800px) {
    #flexdiv {
        width: 100%;
    }
}
@media only screen and (max-width: 540px) {
    /* move to hamburger menu */
    .burger {
        display: block;
        visibility: visible;
        margin-right: 32px;
        height:64px;
        line-height: 64px;

    }
    #header ul {
        display:none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        margin-top: 270px;
    }

    #header li {
        border-bottom: 1px solid black;
    }

  }



/* Projects */

.project {
    width: 100%;
    border-bottom: 1px solid var(--nav-active);
    display: flex;
}

.thumbnail {
    padding-top: 60px;
    max-width: 240px;
}
.thumbnail a {
    text-align: center;
    display: block;
}
