@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Quicksand:wght@700&display=swap');

#b {
    --font: 'IBM Plex Serif', serif;
    --text-color: #eee;
    --bg-color: #222;
    --header-color: #bbb;
    --nav-active: #ffcff1;
    --hoverjs-bg: #222;
    --hoverjs-txt: #eee;

    --link: #ffcff1;
}


#a {
    --font: 'IBM Plex Serif', serif;
    --text-color: #555;
    /*--bg-color: #ffddfb;*/
    --manatee: hsla(218, 17%, 62%, 1);
--languid-lavender: hsla(275, 18%, 79%, 1);
--pale-pink: hsla(351, 47%, 88%, 1);
    --bg-color: var(--languid-lavender);
    --header-color: #bbb;
    --nav-active: #000;
    --hoverjs-bg: #ffe7f7;
    --hoverjs-txt: #444;

    --link: #852565;
}
html {
    max-width: 100%;margin:0 0 0 0;padding:0 0 0 0;margin-left: calc(100vw - 100%); /* accounts for scrollbar and % dont */
}

body {
    height: 100vh;
    margin: 0 0 0 0; padding: 0 0 0 0;
    color: var(--text-color);
	background: var(--bg-color);
	background-repeat: no-repeat;
	background-attachment: fixed;
    font-family: var(--font);
    transition: background 0.5s linear;
}


#flexdiv {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1400px;
    width: 75vw;
}
/*Header CSS*/
#header {
    position: fixed;
    height: 64px;
    width: 75vw;
    background-color: var(--bg-color);
    z-index: 999;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid var(--nav-active);
    backdrop-filter: blur(5px);
    transition: background 0.5s linear;
}

#header h1 {
    padding-left: 32px;
}
#header ul {
    list-style-type: none;
    margin:0 0px 0 0;
    padding:0;
    display: flex;
    flex-direction: row;

}
#header li {
    display:block;
    padding: 0 16px 0 16px;
    height: 64px;
    line-height: 64px;
    text-align: center;
}
.active {
    color: var(--nav-active) !important;
}
#header li a {
    font-size:x-large;
    display: block;
}

/* Link text decor*/ 
#header a, #header a:hover,#header a:active,#header a:visited,#header a:link {
    text-decoration: none;
    color: var(--text-color);
}

#header * {
    vertical-align: middle;
}


#content {
    padding-top: 64px;
    min-width:100%;
    min-height: calc(100vh - 100px);
}

#footer {
    bottom: 0;
    height: 32px;
    font-size: 15px;
    width: 100%;
}

.burger {
    display: none;
    visibility: hidden;
}

.force-right {
    position: static;
    float: right;
    padding-right: 10px;
}

.centered {
    text-align: center;
}
@media only screen and (max-width: 800px) {
    #flexdiv {
        width: 100%;
    }
}
@media only screen and (max-width: 540px) {
    /* move to hamburger menu */
    .burger {
        display: block;
        visibility: visible;
        margin-right: 32px;
        height:64px;
        line-height: 64px;

    }

    #a .hamburger-darkmode {
        display: none;
    }
    #b .hamburger {
        display: none;
    }
    #header ul {
        background-color: var(--bg-color);
        display:none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        margin-top: 270px;
    }

    #header li {
        border-bottom: 1px solid var(--nav-active);
    }

    .prjct-thumbnail {
        padding-top: 30px !important;

        max-width: 240px;
    }
    .prjct-thumbnail img {
        padding-top: 30px !important;
        width: 100px !important; 
    }

  }



/* Projects */

.project {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-bottom: 1px solid var(--nav-active);
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project:last-child {
    border-bottom:none;
    padding-bottom: 32px;
}

.license {
    bottom: 0;
}

.prjct-thumbnail {
    padding-top: 30px;
    padding-left: 30px;
    max-width: 240px;
}

.prjct-thumbnail img{
    max-width: 240px;
    border: 1px solid var(--nav-active);
    border-radius: 15px;
    background-color: #eee;
}
.prjct-thumbnail a {
    text-align: center;
    display: block;
}

#main_center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main_center h1 {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 128px;
    margin: 0 0 0 0;
}

#main_center h2 {
    font-size: 30px;
    margin: 0 0 0 0;
}
#main_center p {
    font-size: 20px;
}

#main_center a:any-link {
    font-style: italic;
    padding-right: 30px;
    color: var(--link);
    text-decoration: none;
}

.thumbnails img {
    width: 150px !important;
}

#spContainer {
    display: flex;
    flex-direction: row;
}