@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Quicksand:wght@700&display=swap');

html,body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
html {
    width:100%;
    height: 100%;
    scroll-behavior: smooth;
}
/* prevent animation on load*/
body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

/* Theme palettes */

/* Theme default 'bubblegumLight' */
#a {
    --text-color: #444;
    /*--bg-color: #ffddfb;*/
    --manatee: rgb(142, 154, 175);
--languid-lavender: rgb(203, 192, 211);
--pale-pink: hsla(351, 47%, 88%, 1);
    --bg-color: var(--languid-lavender);
    --header-color: #bbb;
    --nav-active: #000;
    --hoverjs-bg: #ffe7f7;
    --hoverjs-txt: #444;

    --link: #852565;

    --header-color: rgb(123, 135, 155);
    --border-color: rgb(142, 154, 175);
    --background-color: rgb(203, 192, 211);
    --hyp-off-color: #595B83;
    --hyp-color: #f8d4e1;
}

#b {
    --text-color: rgb(230, 223, 241);
    --border-color: rgb(203, 192, 211);
    --background-color: rgb(37, 32, 39);
    --hyp-color: blue;
    --hyp-off-color:rgb(203, 192, 211);

}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    min-width: 980px;
    max-width: 1400px; /*small on 1920 full*/
    background-color: var(--background-color);
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
    z-index: -9998;

}

@media only screen and (max-width: 1000px) {
    body {
        min-width: auto;
        width:98%;
    }
  }

  @media only screen and (max-width: 700px) {
      #introductory {
          flex-direction: column !important;
      }
      #introJump {
          position: fixed !important;
      }
  }

/* Image definition */
.webImg {
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

#header {
    width: 100%;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid var(--border-color);
}
#header h1 {
    font-family: 'IBM Plex Serif', serif;
    color: var(--header-color);
    font-size: 2em;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
#header input {
    font-family: 'IBM Plex Serif', serif;
    color: var(--header-color);
    font-size: 2em;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    vertical-align:middle;
    border: none;
    background-color: transparent;
    outline: none;
    
}

h1 a:any-link {
    color: var(--header-color);
    text-decoration: none;
}

#introductory {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 15vh;
    justify-content: space-between;
    min-height: calc(85vh - 65px);
}

#introMotto {
    font-family: 'Quicksand', sans-serif;
    font-size: 8em !important;
    padding-bottom: 0;
    margin-bottom: 10px;
}

#introductory p {
    font-size: 1.4em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#introductory section {
    width: 75%;
}


#introductory ul {
    margin-top: 50%;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
}

#introductory li {
    height: 48px;
    width: 128px;
    line-height: 48px;
    font-size: 32px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}
#introductory li:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

li a:any-link {
    color: var(--text-color);
    text-decoration: none;
}

#introJump {
    position:absolute;
    bottom: 20px;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    text-align: center;
    left: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	animation: pulse 2s infinite;
}
#introJump:hover {
    background-color: rgba(0, 0, 0, 0.5);
	animation: pulse 0s infinite;
}
#introJump svg {
    position: relative;
    top: 25%;
}

@keyframes pulse {
	0% {
        background-color: rgba(0, 0, 0, 0.7);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
        background-color: rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
        background-color:rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}



h2 {
    font-family: 'IBM Plex Serif', serif;
    color: var(--header-color);
    font-size: 2em;
    border-bottom: 1px solid var(--border-color);
}

#toTopButton {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 20px;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	animation: pulse 2s infinite;
    transition: opacity 1s ease-in-out;
    right: 30px;
}
#toTopButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
	animation: pulse 0s infinite;
}

#toTopButton.show {
    visibility: visible;
    opacity: 1;
}
#toTopButton svg {
    position: relative;
    top: 20%;

}


#footer {
    height: 64px;
    border-top: 1px solid var(--border-color);
}

#projects {
    min-height: 100vh;
}

summary {
    outline: none;
    padding: 1rem;
    display: block;
    background: #444;
    color: white;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    transition: border-radius 0.1s ease-in-out;
}

div.projectContents{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
}

.projectContents p {
    word-wrap:normal;
}

.project a div{
    height: 64px;
    line-height: 64px;
    color: white;
    background-color: black;
    transition: border-radius 0.1s ease-in-out;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.project:first-of-type a div {
    border-radius: 10px 10px 0px 0px;
}
.project:last-of-type a div  {
    border-radius: 0px 0px 10px 10px;
}
.project:last-of-type div.projectContents {
    transition-delay: 100ms;
}

.project a div aside {
    height:100%;
    float:right;
    overflow: hidden;
    /* Magic */
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    flex-wrap: nowrap;
}

.projectSymb {
    height: 24px;
    vertical-align: middle;
    padding-right: 20px;
}
.symbEUResist {
    filter: invert(97%) sepia(50%) saturate(85%) hue-rotate(222deg) brightness(112%) contrast(87%);
}

.header404 {
    text-align: center;
    vertical-align:middle;
}