---
layout: default
title: About
pagination: 
  enabled: true
  collection: projects
---

<article id="about">
    <section>
    <p>
        Hi! I am a 2<sup>nd</sup> year student at the University of Manchester- studying Electrical Engineering, with a
        keen interest in Digital System Design. Over time in education, I have transitioned from software oriented projects
        and studying CS + related both at GCSE and A-Levels, to taking a particular interest in Electronics at A-Levels.
    </p>
    <p>
        I now study Electrical and Electronic Engineering at the University of Manchester (MEng, expected 2027, Year in Industry).
    </p>
    <p>
        Feel free to browse my projects below. These are projects from different points in my studies & personal work thus far. Some work's source
        may not be available or may not be currently available- this may be because the work is part of an ongoing course or the original source may
        be lost (i.e: some older pieces of coursework from GCSE/A-Level). Feel free to browse my 
        <a href="https://github.com/cinnamondev/" target="_blank">Github</a> and
        <a href="https://gist.github.com/cinnamondev" target="_blank">Gists</a> for other works that may have not been significant 
        enough to list here.
    </p>
    </section>
</article>
<article id="projects">
    <section>
        <h2>Projects</h2>
        <ol class="contentTable">    
            <li><a href="#personalProjects" class="noLink nav">Personal Projects</a>
                <ol>
                    {% for project in paginator.posts %}
                    {% if project.type != "Personal" %}
                    {% continue %}
                    {% endif %}
                    <li>
                        <a href="#{{ project.title | replace: " ", "" }}" class="noLink nav    ">
                            {{ project.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ol>

            </li>
            <li><a href="#uniProjects" class="noLink nav">University Projects</a>
                <ol>
                    {% for project in paginator.posts %}
                    {% if project.type != "University" %}
                    {% continue %}
                    {% endif %}
                    <li>
                        <a href="#{{ project.title | replace: " ", "" }}" class="noLink nav">
                            {{ project.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ol>
            </li>
            <li><a href="#schProjects" class="noLink nav">School Projects</a>
                <ol>
                    {% for project in paginator.posts %}
                    {% if project.type != "School" %}
                    {% continue %}
                    {% endif %}
                    <li>
                        <a href="#{{ project.title | replace: " ", "" }}" class="noLink nav">
                            {{ project.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ol>
            </li>
        </ol>
    </section> 
    <h3 id="personalProjects">Personal Projects</h3>
    {% for project in paginator.posts %}
    {% if project.type != "Personal" %}
    {% continue %}
    {% endif %}
    <section id="{{ project.title | replace: " ", "" }}">
        <h4>{{ project.title }}</h4>
        <aside>

            {% for img in project.images %}
            {% if img[1].url %}
            <img src="{{ img[1].url }}" 
                alt="{% if img[1].alt %}{{ img[1].alt }}{% endif %}">
            {% endif %}
            {% if img[1].caption %}<p>{{ img[1].caption }}</p>{% endif %}
            {% endfor %}
            {% if project.youtubeEmbed %}
            <iframe width="256" height="315" src="{{ project.youtubeEmbed }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border: 3px solid var(--outline);"></iframe>
            {% endif %}
            <p>{% if project.embedCaption %}{{ project.embedCaption }}{% endif %}</p>
        </aside>
        {{ project.content }}
        <p>
            {% if project.repositoryURL or project.websiteURL %}
            Project links: 
            {% endif %}
            {% if project.repositoryURL %}
            <a href="{{ project.repositoryURL }}" target="_blank" >Repository</a>
            {% endif %}
            {% if project.websiteURL %}
            <a href="{{ project.websiteURL }}" >Website</a>
            {% endif %}
        </p>
    </section>
    {% endfor %}
    <h3 id="uniProjects">University Projects</h3>
    {% for project in paginator.posts %}
    {% if project.type != "University" %}
    {% continue %}
    {% endif %}
    <section id="{{ project.title | replace: " ", "" }}">
        <h4>{{ project.title }}</h4>
        <aside>

            {% for img in project.images %}
            {% if img[1].url %}
            <img src="{{ img[1].url }}" 
                alt="{% if img[1].alt %}{{ img[1].alt }}{% endif %}">
            {% endif %}
            {% if img[1].caption %}<p>{{ img[1].caption }}</p>{% endif %}
            {% endfor %}
            {% if project.youtubeEmbed %}
            <iframe width="256" height="315" src="{{ project.youtubeEmbed }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border: 3px solid var(--outline);"></iframe>
            {% endif %}
            <p>{% if project.embedCaption %}{{ project.embedCaption }}{% endif %}</p>
        </aside>
        {{ project.content }}
        <p>
            {% if project.repositoryURL or project.websiteURL %}
            Project links: 
            {% endif %} 
            {% if project.repositoryURL %}
            <a href="{{ project.repositoryURL }}" target="_blank">Repository</a>
            {% endif %}
            {% if project.websiteURL %}
            <a href="{{ project.websiteURL }}">Website</a>
            {% endif %}
        </p>
    </section>
    {% endfor %}
    <h3 id="schProjects">A Level Projects</h3>
    {% for project in paginator.posts %}
    {% if project.type != "School" %}
    {% continue %}
    {% endif %}
    <section id="{{ project.title | replace: " ", ""  }}">
        <h4>{{ project.title }}</h4>
        <aside>

            {% for img in project.images %}
            {% if img[1].url %}
            <img src="{{ img[1].url }}" 
                alt="{% if img[1].alt %}{{ img[1].alt }}{% endif %}">
            {% endif %}
            {% if img[1].caption %}<p>{{ img[1].caption }}</p>{% endif %}
            {% endfor %}
            {% if project.youtubeEmbed %}
            <iframe width="256" height="315" src="{{ project.youtubeEmbed }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border: 3px solid var(--outline);"></iframe>
            {% endif %}
            <p>{% if project.embedCaption %}{{ project.embedCaption }}{% endif %}</p>
        </aside>
        {{ project.content }}
        <p>
            {% if project.repositoryURL or project.websiteURL %}
            Project links: 
            {% endif %}
            {% if project.repositoryURL %}
            <a href="{{ project.repositoryURL }}" target="_blank">Repository</a>
            {% endif %}
            {% if project.websiteURL %}
            <a href="{{ project.websiteURL }}">Website</a>
            {% endif %}
        </p>
    </section>
    {% endfor %}
</article>  
<article id="contact">
    <h2>Contact us</h2>
    <p>
        <a href="https://github.com/cinnamondev" target="_blank"">Github</a> • 
        <a href="https://tech.lgbt/@itscinnamon" target="_blank">Mastodon</a> • 
        <a href="mailto:justpromptiguess@gmail.com" target="_blank">Email</a> 
    </p>
</article>