@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
.noscript {
	position: absolute;
	top:0;
	width: 100%;
	text-align: center;
}

.theme-dark {
	--primary: #D0BCFF;
	--primary-a: rgba(208, 188, 255, 0.555);
	--primary-t: rgba(102, 80, 164, 0.555);
	--on-primary: #381E72;
	--primary-container: #4F378B;
	--on-primary-container: #EADDFF;
	--secondary: #CCC2DC;
	--on-secondary: #332D41;
	--secondary-container: #4A4458;
	--on-secondary-container: #E8DEF8;
	--tertiary: #EFB8C8;
	--on-tertiary: #492532;
	--tertiary-container: #633B48;
	--on-tertiary-container: #FFD8E4;
	--error: #F2B8B5;
	--on-error: #601410;
	--error-container: #8C1D18;
	--on-error-container: #F2B8B5;
	--outline: #938F99;
	--background: #36353b;
	--on-background: #E6E1E5;
	--surface: #1C1B1F;
	--on-surface: #E6E1E5;
	--surface-variant: #49454F;
	--on-surface-variant: #CAC4D0;
	--inverse-surface: #E6E1E5;
	--inverse-on-surface: #313033;
	
	--pallete: invert(18%) sepia(39%) saturate(2378%) hue-rotate(235deg) brightness(87%) contrast(109%);

}

html,body {
	width:100%;
	height:100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
html {
	font-family: 'Comic Neue', 'Comic Sans MS', cursive;
	scroll-behavior: smooth;
}

body {
	color: var(--on-background);
    background-color:  var(--background);
    background-repeat: repeat;
    background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main.introCard {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 564px;
	height: 256px;
	min-height: 256px;	
	border: 3px solid var(--outline);
	background-color: var(--surface-variant);
	padding:0 0 0 0;
	margin: 0 0 0 0;
}
main.introCard>* {
	height: 256px;
}

h1 {
	font-weight: 700;
	font-size: 2.5em;
}
header > h1{
	padding-bottom: 0;margin-bottom: 0;
}
header > p{
	font-size: 1.5em;
	margin-top: 8px;
}
header {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
header.top {
	padding-top: 8px;
	text-align: left;
	vertical-align: middle;
	flex-direction: row;
	align-content: center;
	width: 100%;
	max-width: 1024px;
	height: 64px;
}

header.top > * {
	height: 100%;
	line-height: 64px;
}

header.top > h1,header.top>div>h1{
	margin: initial;
	padding: initial;
}

header.top>div>h1{padding-left: 16px;	font-weight: 400;}
header.top>div>img{height: 100%;;}
header.top>div {
	display: flex;
}
header.top > p{
	margin: initial;
	padding: initial;
	padding-left: 128px;
}
a.noLink:any-link {
	color: inherit;
	text-decoration: inherit;
}
a.nav {
	text-decoration: underline !important;
}


@media only screen and (max-width: 511px) {
	main.introCard {
		width: 90%;
		flex-wrap: wrap;
		height: 512px;
	}
	main.introCard>* {
		max-height: 256px;
		height: auto;
		width: 256px;
	}
}
@media only screen and (max-width: 700px) {
	header.top>div>img{display: none;}
	header.top {
		height: 128px;
		flex-direction: column;
	}
	header.top {
		align-content: center;
		align-items: center;
	}
	header.top>div>h1 {
		width:100%;
		padding: initial;
		text-align: center;
	}
	header.top>p {
		width:100%;
		padding: initial;
		text-align: center;
	}
}

footer {
	display: block;
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	word-wrap: break-word;
}

a.navActive {
	font-weight: bold;
}

main.content {
	width:80%;
	max-width: 768px;
}

h1 > sub {
	font-size: 0.7em;
}