{% if include.homeCard=="true"%}
{% assign overrideImgLeft = "true" %}
{% endif %}

<section class="card {% if include.widthOverride %}cardWOverride{{ include.widthOverride | replace: "%", "pc" }}{% endif %}"
{% if include.widthOverride %}style="max-width:{{include.widthOverride}};"{% endif %}>
    {% if include.homeCard != "true" %}
    <div>
        {% if include.title %}<h2 id="{{include.cardID}}">{{ include.title }}</h2>{% endif %}
        <main>
        {{ include.contents }}
        </main>
        <footer>{{ include.footer }}</footer>
    </div>
    {% if include.media %}
    <aside {% if include.sidebarWidth %}style="max-width:{{ include.sidebarWidth }};"{% endif %}>
        {% for media in include.media %}
        <div>
            {% if media[1].type != "yt" %}
            <img src="{{ media[1].url }}" alt="{{ media[1].alt}}">
            {% else %}
            <iframe width="256" height="315" src="{{ media[1].url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border: 3px solid var(--outline);"></iframe>
            {% endif %}
            {% if media[1].caption %}
            <span>{{ media[1].caption }}</span>
            {% endif %}
        </div>
        {% endfor%}
    </aside>
    {% endif %}
    {% else %}
    <aside>
        <div>
            <img src="{{ site.logo.url }}">
        </div>
    </aside>
    <div>
        <h1 class="header">cinnamon</h1>
        <p> some random text here idfk</p>
        {% include navigation_home.html %}
    </div>
    {% endif %}
</section>