<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/pre.css">
<link rel="stylesheet" href="/assets/css/main.css">
<meta property="og:title" content="Cinnamondev - {{ page.title }}" />
<meta property="og:description" content="
{% if page.id %}
{{ post.excerpt }}
{% else %}
Hi!
{% endif %}"/>
<meta property="profile:username" content="cinnamon">
<meta property="og:url" content="{{ page.url}}" />
<meta property="og:image" content="/assets/images/manmade-horrors.jpg"/>
<title>Cinnamondev - {{ page.title }}</title>
<script>{% include inline_theme.js %}</script>