@use "theme" as theme;

.card {
    max-width: 680px;
    margin: 30px 0 30px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    border: 2px solid #{theme.$text-d};
    background-color: #{theme.$background-d-2};
    box-shadow: 4px 4px #{theme.$background-shadow};
}

.card > div {
    padding: 0px 3px 0px 18px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card > div > main {
    flex-grow: 1;
}

.card > div > main:first-child {
    padding-top: 25px;
}

.card > div > main:last-child {
    padding-bottom: 25px;
}
.card > div > footer {
    padding-bottom: 18px;
}

.card aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px 3px 0px 3px;
    max-width: 40%;
}

.card > aside div {
    width: 100%;
    height: auto;
    padding-top: 6px;
    text-align: center;
    color: #{theme.$text-d-alt};
}

.card > aside div:first-child {
    padding-top: 0px;
}
.card > aside img {
    flex-grow: 1;
    max-width: 100%;
}

