$spacingNavOptions: 6px;
p.navBar > a {
    padding-left: $spacingNavOptions;
    padding-right: $spacingNavOptions;
}
p.navBar > a:last-child {
    padding-right: 0;
}
p.navBar > a:first-child {
    padding-left: 0;
}
p.navBar {
    display: flex;
    flex-flow: row nowrap;
    margin: initial;
    padding: initial;
    font-size: 1.5em;
}

@media only screen and (max-width: 500px) {
    p.navBar {
        font-size: 1.2em;
    }
}

