@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/*
$background-l: #eee;
$background-l-2: #e0e0e0;
$background-l-shadow: #969696;
$text-l: #333;
$text-l-alt: #303030;

*/


$background-d: #eee;
$background-d-2: #e0e0e0;
$background-shadow: #969696;
$text-d: #333;
$text-d-alt: #303030;

/*

$background-d: #1a1a1a;
$background-d-2: #111;
$background-shadow: #292929;
$text-d: #bbb;
$text-d-alt: #303030;
*/