$d-primary: #D0BCFF;
$d-primary-a: rgba(208, 188, 255, 0.555);
$d-primary-t: rgba(102, 80, 164, 0.555);
$d-on-primary: #381E72;
$d-primary-container: #4F378B;
$d-on-primary-container: #EADDFF;
$d-secondary: #CCC2DC;
$d-on-secondary: #332D41;
$d-secondary-container: #4A4458;
$d-on-secondary-container: #E8DEF8;
$d-tertiary: #EFB8C8;
$d-on-tertiary: #492532;
$d-tertiary-container: #633B48;
$d-on-tertiary-container: #FFD8E4;
$d-error: #F2B8B5;
$d-on-error: #601410;
$d-error-container: #8C1D18;
$d-on-error-container: #F2B8B5;
$d-outline: #938F99;
$d-background: #35383b;
$d-on-background: #E6E1E5;
$d-surface: #1C1B1F;
$d-on-surface: #E6E1E5;
$d-surface-variant: #454b4f;
$d-on-surface-variant: #CAC4D0;
$d-inverse-surface: #E6E1E5;
$d-inverse-on-surface: #313033;
$d-test: #333;
$d-pallete: invert(18%) sepia(39%) saturate(2378%) hue-rotate(235deg) brightness(87%) contrast(109%);
// Light theme palette is same as dark theme currently.
$l-primary: #D0BCFF;
$l-primary-a: rgba(208, 188, 255, 0.555);
$l-primary-t: rgba(102, 80, 164, 0.555);
$l-on-primary: #381E72;
$l-primary-container: #4F378B;
$l-on-primary-container: #EADDFF;
$l-secondary: #CCC2DC;
$l-on-secondary: #332D41;
$l-secondary-container: #4A4458;
$l-on-secondary-container: #E8DEF8;
$l-tertiary: #EFB8C8;
$l-on-tertiary: #492532;
$l-tertiary-container: #633B48;
$l-on-tertiary-container: #FFD8E4;
$l-error: #F2B8B5;
$l-on-error: #601410;
$l-error-container: #8C1D18;
$l-on-error-container: #F2B8B5;
$l-outline: #938F99;
$l-background: #35383b;
$l-on-background: #E6E1E5;
$l-surface: #1C1B1F;
$l-on-surface: #E6E1E5;
$l-surface-variant: #454b4f;
$l-on-surface-variant: #CAC4D0;
$l-inverse-surface: #E6E1E5;
$l-inverse-on-surface: #313033;
$l-test: #0000;
$l-pallete: invert(18%) sepia(39%) saturate(2378%) hue-rotate(235deg) brightness(87%) contrast(109%);
