@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Quicksand:wght@700&display=swap');

/* Color scheme */
:root {
    --light-primary: #9373b8;
	--light-primary-a: rgba(102, 80, 164, 0.555);
	--light-primary-t: rgba(102, 80, 164, 0.555);
	--light-on-primary: #FFFFFF;
	--light-primary-container: #EADDFF;
	--light-on-primary-container: #21005D;
	--light-secondary: #625B71;
	--light-on-secondary: #FFFFFF;
	--light-secondary-container: #E8DEF8;
	--light-on-secondary-container: #1D192B;
	--light-tertiary: #7D5260;
	--light-on-tertiary: #FFFFFF;
	--light-tertiary-container: #FFD8E4;
	--light-on-tertiary-container: #31111D;
	--light-error: #B3261E;
	--light-on-error: #FFFFFF;
	--light-error-container: #F9DEDC;
	--light-on-error-container: #410E0B;
	--light-outline: #79747E;
	--light-background: #dccfe2;
	--light-on-background: #1C1B1F;
	--light-surface: #FFFBFE;
	--light-on-surface: #1C1B1F;
	--light-surface-variant: #E7E0EC;
	--light-on-surface-variant: #49454F;
	--light-inverse-surface: #313033;
	--light-inverse-on-surface: #F4EFF4;
	--light-pallete: invert(100%) sepia(0%) saturate(7485%) hue-rotate(238deg) brightness(105%) contrast(104%);

    --dark-primary: #D0BCFF;
	--dark-primary-a: rgba(208, 188, 255, 0.555);
	--dark-primary-t: rgba(102, 80, 164, 0.555);
	--dark-on-primary: #381E72;
	--dark-primary-container: #4F378B;
	--dark-on-primary-container: #EADDFF;
	--dark-secondary: #CCC2DC;
	--dark-on-secondary: #332D41;
	--dark-secondary-container: #4A4458;
	--dark-on-secondary-container: #E8DEF8;
	--dark-tertiary: #EFB8C8;
	--dark-on-tertiary: #492532;
	--dark-tertiary-container: #633B48;
	--dark-on-tertiary-container: #FFD8E4;
	--dark-error: #F2B8B5;
	--dark-on-error: #601410;
	--dark-error-container: #8C1D18;
	--dark-on-error-container: #F2B8B5;
	--dark-outline: #938F99;
	--dark-background: #36353b;
	--dark-on-background: #E6E1E5;
	--dark-surface: #1C1B1F;
	--dark-on-surface: #E6E1E5;
	--dark-surface-variant: #49454F;
	--dark-on-surface-variant: #CAC4D0;
	--dark-inverse-surface: #E6E1E5;
	--dark-inverse-on-surface: #313033;
	--dark-pallete: invert(18%) sepia(39%) saturate(2378%) hue-rotate(235deg) brightness(87%) contrast(109%);
	--gh: url("/assets/GitHub-Mark-Light-64px.png");
	--gh-lr:  url("/assets/GitHub-Mark-Light-32px.png");
}
/* Theming dark mode */
body {
    --primary: var(--dark-primary);
	--primary-a: var(--dark-primary-a);
	--primary-t: var(--dark-primary-t);
	--on-primary: var(--dark-on-primary);
	--primary-container: var(--dark-primary-container);
	--on-primary-container: var(--dark-on-primary-container);
	--secondary: var(--dark-secondary);
	--on-secondary: var(--dark-on-secondary);
	--secondary-container: var(--dark-secondary-container);
	--on-secondary-container: var(--dark-on-secondary-container);
	--tertiary: var(--dark-tertiary);
	--on-tertiary: var(--dark-on-tertiary);
	--tertiary-container: var(--dark-tertiary-container);
	--on-tertiary-container: var(--dark-on-tertiary-container);
	--error: var(--dark-error);
	--on-error: var(--dark-on-error);
	--error-container: var(--dark-error-container);
	--on-error-container: var(--dark-on-error-container);
	--outline: var(--dark-outline);
	--background: var(--dark-background);
	--on-background: var(--dark-on-background);
	--surface: var(--dark-surface);
	--on-surface: var(--dark-on-surface);
	--surface-variant: var(--dark-surface-variant);
	--on-surface-variant: var(--dark-on-surface-variant);
	--inverse-surface: var(--dark-inverse-surface);
	--inverse-on-surface: var(--dark-inverse-on-surface);
	--pallete: var(--dark-pallete);
}
body.light {
    --primary: var(--light-primary);
	--primary-a: var(--light-primary-a);
	--primary-t: var(--light-primary-t);
	--on-primary: var(--light-on-primary);
	--primary-container: var(--light-primary-container);
	--on-primary-container: var(--light-on-primary-container);
	--secondary: var(--light-secondary);
	--on-secondary: var(--light-on-secondary);
	--secondary-container: var(--light-secondary-container);
	--on-secondary-container: var(--light-on-secondary-container);
	--tertiary: var(--light-tertiary);
	--on-tertiary: var(--light-on-tertiary);
	--tertiary-container: var(--light-tertiary-container);
	--on-tertiary-container: var(--light-on-tertiary-container);
	--error: var(--light-error);
	--on-error: var(--light-on-error);
	--error-container: var(--light-error-container);
	--on-error-container: var(--light-on-error-container);
	--outline: var(--light-outline);
	--background: var(--light-background);
	--on-background: var(--light-on-background);
	--surface: var(--light-surface);
	--on-surface: var(--light-on-surface);
	--surface-variant: var(--light-surface-variant);
	--on-surface-variant: var(--light-on-surface-variant);
	--inverse-surface: var(--light-inverse-surface);
	--inverse-on-surface: var(--light-inverse-on-surface);
	--pallete: var(--light-pallete);
}
/* Theming light mode */  
@media (prefers-color-scheme: light) {
    body {
        --primary: var(--light-primary);
        --primary-a: var(--light-primary-a);
        --primary-t: var(--light-primary-t);
        --on-primary: var(--light-on-primary);
        --primary-container: var(--light-primary-container);
        --on-primary-container: var(--light-on-primary-container);
        --secondary: var(--light-secondary);
        --on-secondary: var(--light-on-secondary);
        --secondary-container: var(--light-secondary-container);
        --on-secondary-container: var(--light-on-secondary-container);
        --tertiary: var(--light-tertiary);
        --on-tertiary: var(--light-on-tertiary);
        --tertiary-container: var(--light-tertiary-container);
        --on-tertiary-container: var(--light-on-tertiary-container);
        --error: var(--light-error);
        --on-error: var(--light-on-error);
        --error-container: var(--light-error-container);
        --on-error-container: var(--light-on-error-container);
        --outline: var(--light-outline);
        --background: var(--light-background);
        --on-background: var(--light-on-background);
        --surface: var(--light-surface);
        --on-surface: var(--light-on-surface);
        --surface-variant: var(--light-surface-variant);
        --on-surface-variant: var(--light-on-surface-variant);
        --inverse-surface: var(--light-inverse-surface);
        --inverse-on-surface: var(--light-inverse-on-surface);
        --pallete: var(--light-pallete);
    }
    body.dark {
        --primary: var(--light-primary);
        --primary-a: var(--light-primary-a);
        --primary-t: var(--light-primary-t);
        --on-primary: var(--light-on-primary);
        --primary-container: var(--light-primary-container);
        --on-primary-container: var(--light-on-primary-container);
        --secondary: var(--light-secondary);
        --on-secondary: var(--light-on-secondary);
        --secondary-container: var(--light-secondary-container);
        --on-secondary-container: var(--light-on-secondary-container);
        --tertiary: var(--light-tertiary);
        --on-tertiary: var(--light-on-tertiary);
        --tertiary-container: var(--light-tertiary-container);
        --on-tertiary-container: var(--light-on-tertiary-container);
        --error: var(--light-error);
        --on-error: var(--light-on-error);
        --error-container: var(--light-error-container);
        --on-error-container: var(--light-on-error-container);
        --outline: var(--light-outline);
        --background: var(--light-background);
        --on-background: var(--light-on-background);
        --surface: var(--light-surface);
        --on-surface: var(--light-on-surface);
        --surface-variant: var(--light-surface-variant);
        --on-surface-variant: var(--light-on-surface-variant);
        --inverse-surface: var(--light-inverse-surface);
        --inverse-on-surface: var(--light-inverse-on-surface);
        --pallete: var(--light-pallete);
    }
}

/* document styling*/
html,body {
    padding: 0 0 0 0;
    margin:  0 0 0 0;
    height: 100%;
    width: 100%;
}

body {
	display:flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background-color: var(--background);
	transition: background-color 0.3s ease-in-out;
	color: var(--on-background);
	font-family: 'Roboto', sans-serif;
}
header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 64px;
	background-color: var(--surface-variant);
	transition: background-color 0.3s ease-in-out;
	border-bottom: 1px solid var(--outline);	
}
h1 {
	padding: 0 0 0 0;
    margin:  0 0 0 0;
	font-size: 2em;
}
header h1 {	
	font-size: 2.5em !important;
}
h1,h2,h3,h4,h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}

.nolink:any-link {
	text-decoration: none !important;
	color: inherit;
}

/* main section */
.main-section {
	width: 100%;
	max-width: 1000px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	border-radius: 25px;
	border: 1px solid var(--outline);
}

.card img {
	margin-bottom: 25px;
}
/* 404.html stuff. */

input{
	font-family: 'Quicksand', sans-serif;
	z-index: 99999;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
    background-color: transparent;
	text-align: center;
	border: none;
    outline: none;
	font-size: 32px;
	color: var(--on-surface-variant);
}


.guru {
	width: 100%;
	margin-top: 32px;
}
.videoPlayer {
	display: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.errpg {
	justify-content: flex-start !important;
}
.errart {
	min-height: calc(100% - 65px - 32px);
}
#easter {
	display: none;
}