@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

#b {
	--primary: #D0BCFF;
	--primary-a: rgba(208, 188, 255, 0.555);
	--primary-t: rgba(102, 80, 164, 0.555);
	--on-primary: #381E72;
	--primary-container: #4F378B;
	--on-primary-container: #EADDFF;
	--outline: #938F99;
	--background: #000000;
	--on-background: #E6E1E5;
	--surface: #1C1B1F;
	--on-surface: #E6E1E5;
	--surface-variant: #49454F;
	--on-surface-variant: #CAC4D0;
	--inverse-surface: #E6E1E5;
	--inverse-on-surface: #313033;
	
	--pallete: invert(18%) sepia(39%) saturate(2378%) hue-rotate(235deg) brightness(87%) contrast(109%);
}

html {
    max-width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    scroll-behavior: smooth;
    color: var(--on-background);
    background: var(--background);
	background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-attachment: fixed;
	transition: background 0.5s linear;
	font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#headerUnder {
	position: sticky;
	top: 0; left:0;
	width: 100%;
	background-color: var(--surface-variant);
	color: var(--on-surface-variant);
	border-bottom: 1px solid var(--outline);
}

img {
	border-radius: 25px;
	border: none;
	transition: border-radius 0.2s;
}
img:hover {
	border-radius: 10px;
}


#headerUnder > header {
	width: 80%;
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 9999;
	height: 84px;
}

input{
	font-family: 'Quicksand', sans-serif;
	z-index: 99999;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
    background-color: transparent;
	text-align: center;
	border: none;
    outline: none;
	font-size: 1em;
	color: var(--on-surface-variant);
}


footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	text-align: center;
}



h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 3em;
	padding: 0 0 0 0;
	margin:  16px 16px 8px 0px;
	background-color: #000000;
}

body > article {
	width: 80%;
	min-height: calc(100% - 85px - 19px);
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.guru {
	width: 100%;
	margin-top: 32px;
}

p {
	background-color: #000000;
}

video {
	margin-left: auto;
	margin-right: auto;
}

.videoPlayer {
	display: none;
	width: 100%;
}

#easter {
	display: none;
}