---
---
@use "card" as card; // landing page/404 'card'
@use "navbar" as nav; // nav bar used in various places
@use "header" as header; // header bar
@use "theme" as theme;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

html,body {
	height: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
body {
	font-family: "Noto Serif", serif;
	width:80%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #{theme.$background-d};
	color: #{theme.$text-d};
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
	/* make the website look older*/
body.themeStupid {
	background-image: url(/assets/images/cloud.jpg);
	background-size: 256px;
}

body.themeStupid > main, header {
	background-color: inherit;
	opacity: 0.92;
	background-image: none;
}

@media only screen and (max-width: 800px) {
	body {
		width: calc(100% - 32px);
	}
}


main {
	flex-grow: 1;
	width: 100%;
}

a.noLink {
	text-decoration: inherit;
	color: inherit;
}

#centreWrapper {
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
