---
---
@charset "utf-8";
@use "theme";
:root, [data-theme='d'] {
	--primary: #{theme.$d-primary};
	--primary-a: #{theme.$d-primary-a};
	--primary-t: #{theme.$d-primary-t};
	--on-primary: #{theme.$d-on-primary};
	--primary-container: #{theme.$d-primary-container};
	--on-primary-container: #{theme.$d-on-primary-container};
	--secondary: #{theme.$d-secondary};
	--on-secondary: #{theme.$d-on-secondary};
	--secondary-container: #{theme.$d-secondary-container};
	--on-secondary-container: #{theme.$d-on-secondary-container};
	--tertiary: #{theme.$d-tertiary};
	--on-tertiary: #{theme.$d-on-tertiary};
	--tertiary-container: #{theme.$d-tertiary-container};
	--on-tertiary-container: #{theme.$d-on-tertiary-container};
	--error: #{theme.$d-error};
	--on-error: #{theme.$d-on-error};
	--error-container: #{theme.$d-error-container};
	--on-error-container: #{theme.$d-on-error-container};
	--outline: #{theme.$d-outline};
	--background: #{theme.$d-background};
	--on-background: #{theme.$d-on-background};
	--surface: #{theme.$d-surface};
	--on-surface: #{theme.$d-on-surface};
	--surface-variant: #{theme.$d-surface-variant};
	--on-surface-variant: #{theme.$d-on-surface-variant};
	--inverse-surface: #{theme.$d-inverse-surface};
	--inverse-on-surface: #{theme.$d-inverse-on-surface};
	--pallete: #{theme.$d-pallete};
}
[data-theme='l'] {
    --primary: #{theme.$l-primary};
    --primary-a: #{theme.$l-primary-a};
    --primary-t: #{theme.$l-primary-t};
    --on-primary: #{theme.$l-on-primary};
    --primary-container: #{theme.$l-primary-container};
    --on-primary-container: #{theme.$l-on-primary-container};
    --secondary: #{theme.$l-secondary};
    --on-secondary: #{theme.$l-on-secondary};
    --secondary-container: #{theme.$l-secondary-container};
      --on-secondary-container: #{theme.$l-on-secondary-container};
    --tertiary: #{theme.$l-tertiary};
    --on-tertiary: #{theme.$l-on-tertiary};
    --tertiary-container: #{theme.$l-tertiary-container};
    --on-tertiary-container: #{theme.$l-on-tertiary-container};
    --error: #{theme.$l-error};
    --on-error: #{theme.$l-on-error};
    --error-container: #{theme.$l-error-container};
    --on-error-container: #{theme.$l-on-error-container};
    --outline: #{theme.$l-outline};
    --background: #{theme.$l-background};
    --on-background: #{theme.$l-on-background};
    --surface: #{theme.$l-surface};
    --on-surface: #{theme.$l-on-surface};
    --surface-variant: #{theme.$l-surface-variant};
    --on-surface-variant: #{theme.$l-on-surface-variant};
    --inverse-surface: #{theme.$l-inverse-surface};
    --inverse-on-surface: #{theme.$l-inverse-on-surface};
    --pallete: #{theme.$l-pallete};
} 
@media(prefers-color-scheme: light) {
    :root {
        --primary: #{theme.$l-primary};
        --primary-a: #{theme.$l-primary-a};
        --primary-t: #{theme.$l-primary-t};
        --on-primary: #{theme.$l-on-primary};
        --primary-container: #{theme.$l-primary-container};
        --on-primary-container: #{theme.$l-on-primary-container};
        --secondary: #{theme.$l-secondary};
        --on-secondary: #{theme.$l-on-secondary};
        --secondary-container: #{theme.$l-secondary-container};
        --on-secondary-container: #{theme.$l-on-secondary-container};
        --tertiary: #{theme.$l-tertiary};
        --on-tertiary: #{theme.$l-on-tertiary};
        --tertiary-container: #{theme.$l-tertiary-container};
        --on-tertiary-container: #{theme.$l-on-tertiary-container};
        --error: #{theme.$l-error};
        --on-error: #{theme.$l-on-error};
        --error-container: #{theme.$l-error-container};
        --on-error-container: #{theme.$l-on-error-container};
        --outline: #{theme.$l-outline};
        --background: #{theme.$l-background};
        --on-background: #{theme.$l-on-background};
        --surface: #{theme.$l-surface};
        --on-surface: #{theme.$l-on-surface};
        --surface-variant: #{theme.$l-surface-variant};
        --on-surface-variant: #{theme.$l-on-surface-variant};
        --inverse-surface: #{theme.$l-inverse-surface};
        --inverse-on-surface: #{theme.$l-inverse-on-surface};
        --pallete: #{theme.$l-pallete};
    } 
}
// Body should have relevant styling applied to prevent flashes
body {
    color: var(--on-background);
    background-color:  var(--background);
}