<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <title>You are being redirected...</title>
</head>
<body style="justify-content: center;align-items: center;">
    <main class="card">
        <img src="/assets/images/Sad_mac_404.png">
        <header>
            <h1> Redirecting you now.</h1>
            <p>
                You are being redirected to {{ title }}. Click <a href="{{ page.redirect.to }}{{ page.non_gem_redirect_url}}">
                here</a> if you are not redirected automagically.
            </p>
            <h1><a href="/" class="noLink">Cinnamondev</a></h1>
            <p> I make stuff!</p>
            {% include navigation_home.html %}
        </header>
    </main>
    {% include footer.html %}
    <script>location='{{ page.redirect.to }}{{ page.non_gem_redirect_url}}'</script>
</body>
</html>