<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <title>You are being redirected...</title>
</head>
<body style="justify-content: center;align-items: center;">
<section class="card">
    <aside>
        <div>
            <img src="/assets/images/Sad_mac_301.png" alt="sadmac301">
        </div>
    </aside>
    <div>
        <h2>Redirecting you now.</h2>
        <main>
            <p>
                You are being redirected. Click <a href="{{ page.redirect.to }}{{ page.non_gem_redirect_url}}">
                here</a> if you are not redirected automagically.
            </p>
        </main>
    </div>

</section>
    {% include footer.html %}
    <script>location='{{ page.redirect.to }}{{ page.non_gem_redirect_url}}'</script>
</body>
</html>